@import url("https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Playfair+Display:ital,wght@0,800;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");

:root {
  --dark: #292929;
  --lightDark: #616161;
  --white: #ffffff;
  --orange: #fe8529;
  --yellow: #eeb34b;
  --red: #e3394b;
  --lightRed: #fe4c6f;
  --darkBlue: #1d3557;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --btn-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-background: #ffffff;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-primary: #7380ec;
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow-admin: 0 2rem 3rem var(--color-light);
}
/* =============Dark Theme Variables============ */
.dark-theme {
  --white: #202528;
  --dark: #ffffff;
  --color-info-light: #181a1e;
  --color-dark-variant: #deebf3;
  --color-primary-variant: #5464d8;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
/* =============Dark Theme Variables============ */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  user-select: none;
}

/*================Header=================  */

.header {
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 240, 234, 0.425),
      rgba(50, 128, 89, 0.459)
    ),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    .logo {
      height: 3.5rem;
      font-size: 2.5rem;
      font-weight: bolder;
      color: #fff;
      letter-spacing: 0.3rem;
    }
  }

  .adventure-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    backface-visibility: hidden;
    text-align: center;




    .adventure-text-main {
      display: block;
      font-size: 6rem;
      font-weight: 800;
      letter-spacing: 2rem;
      text-transform: uppercase;
      animation: moveLeft 2s ease-out;
      
    }

    .adventure-text-sub {
      display: block;
      font-size: 1.7rem;
      font-weight: 400;
      letter-spacing: 2.1rem;
      text-transform: uppercase;
      animation: moveRight 2s ease-out;
      
      
    }
    .btn:link,
    .btn:visited {
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      display: inline-block;
      transition: all .2s;
      position: relative;
    }
    .header-btn{
      background-color: var(--white);
      color: var(--color-dark);
      font-size: 1.4rem;
      margin-top: 6rem;
      border-radius: .5rem;
      letter-spacing: 2px;
      animation: moveBottom .5s ease-out .75s;
      animation-fill-mode: backwards;

      &:hover{
        transform: translateY(-3px);
        box-shadow: var(--btn-shadow);
      }
      &:active{
        transform: translateY(-1px);
        box-shadow: var(--btn-shadow);
      }

      &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: .5rem;
        background: var(--white);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;

      }
      &:hover::after{
        transform: scaleX(1.2) scaleY(1.4);
        opacity: 0;
      }


    }

    /* =============animation============== */

    @keyframes moveLeft {
      0%{
        opacity: 0;
        transform: translateX(-10rem);
      }
      80%{
       
  
      }
      100%{
        opacity: 1;
        transform: translate(0);
      }
      
    }
    
    @keyframes moveRight {
      0%{
        opacity: 0;
        transform: translateX(10rem);
      }
      80%{
       
  
      }
      100%{
        opacity: 1;
        transform: translate(0);
      }
      
    }
    @keyframes moveBottom {
      0%{
        opacity: 0;
        transform: translateY(3rem);
      }
    
      100%{
        opacity: 1;
        transform: translate(0);
      }
      
    }


    /* =============animation============== */
  }

 
}
/*================Header=================  */