/* =============Dark Theme Variables============ */
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Playfair+Display:ital,wght@0,800;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");
/* =============Dark Theme Variables============ */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.header-btn {
  background-color: #ffffff;
  color: #292929;
  font-size: 1.4rem;
  margin-top: 6rem;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  -webkit-animation: moveBottom 0.5s ease-out 0.75s;
          animation: moveBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.header-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.header-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.header-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.header-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid #7380ec;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #4e56e4 80%);
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  transform: all 0.2s;
}
.btn-text:hover {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #070f9e 100%);
  box-shadow: 0 2rem 3rem var(rgba(132, 139, 200, 0.18));
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 2rem 3rem var(rgba(132, 139, 200, 0.18));
  transform: translateY(-2px);
}

.composition {
  position: relative;
}
.composition_photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(41, 41, 41, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition_photo-p1 {
  left: 0;
  top: -2rem;
}
.composition_photo-p2 {
  right: 0;
  top: 3rem;
}
.composition_photo-p3 {
  left: 20%;
  top: 15rem;
}
.composition_photo:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem rgba(41, 41, 41, 0.5);
  z-index: 20;
  outline: 0.5rem solid #ffffff;
}
.composition:hover .composition_photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  width: 30rem;
  height: 40rem;
  box-shadow: 0 1rem 2rem rgba(41, 41, 41, 0.9);
  transition: transform 0.2s;
  margin-right: 6rem;
}
@media (max-width: 900px) {
  .feature-box {
    width: 50rem;
    padding: 5rem;
  }
}
.feature-box span {
  font-size: 6rem;
  margin-bottom: 4rem;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #4e56e4 80%);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box .feature-heading {
  text-align: justify;
  margin-bottom: 1rem;
}
.feature-box-text {
  text-align: justify;
}
.feature-box .feature-see-more {
  margin-top: 1rem;
  text-align: right;
  transition: transform 0.2s;
}
.feature-box .feature-see-more:hover {
  transform: translateY(-2px);
}
.feature-box:hover {
  transform: translateY(-5px);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.card-side {
  height: 45rem;
  background-color: #ffffff;
  color: #ffffff;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 1rem 3rem rgba(41, 41, 41, 0.6);
  border-radius: 3px;
  overflow: hidden;
}
.card-side-back {
  transform: rotateY(180deg);
}
.card-side-back-1 {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #070f9e 100%);
}
.card:hover .card-side-front {
  transform: rotateY(-180deg);
}
.card:hover .card-side-back {
  transform: rotateY(0deg);
}
.card .card-picture {
  background-size: cover;
  height: 20rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card .card-picture-1 {
  background-image: url(/img/nat-5.jpg);
}
.card .card-picture-2 {
  background-image: url(/img/nat-3.jpg);
}
.card .card-picture-3 {
  background-image: url(/img/nat-6.jpg);
}
.card-heading-bg {
  height: 8rem;
  width: 8rem;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #070f9e 100%);
  position: absolute;
  top: 13rem;
  right: 2rem;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  filter: drop-shadow(5rem 5rem rgba(41, 41, 41, 0.8));
}
.card-heading-bg .card-heading {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  top: 1.5rem;
  position: absolute;
}
.card-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card-details ul li {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
  color: #292929;
  border-bottom: 1px solid #f3eeee;
}
.card .card-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card .card-div .card-price-box {
  text-align: center;
  margin-bottom: 5rem;
}
.card .card-div .card-price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card .card-div .card-price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 100%;
  box-shadow: 0 1rem 4rem rgba(41, 41, 41, 0.3);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem 7rem;
  border-radius: 5px;
  font-size: 1.4rem;
}
.story h3 {
  color: rgba(29, 53, 87, 0.9);
}
.story-image {
  height: 100%;
  box-shadow: 0 0.5rem 2rem rgba(41, 41, 41, 0.5);
  border: 2px solid #ffffff;
  border-radius: 50%;
  float: left;
  transform: translateX(-2rem) scale(1);
}
.story-image:hover {
  transform: translateX(-2rem) scale(1.1);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
}
.bg-video .bg-video-content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form .form-group:not(:last-child) {
  margin-bottom: 2rem;
}
.form .form-input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1rem 1rem rgba(41, 41, 41, 0.1);
  color: inherit;
  width: 100%;
  display: block;
}
.form .form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(41, 41, 41, 0.3);
  border-bottom: 3px solid rgba(65, 241, 182, 0.7);
}
.form .form-input:focus:invalid {
  border-bottom: 3px solid #fe4c6f;
}
.form .form-radio-group {
  width: 49%;
  display: inline-block;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
  margin-top: 2rem;
}
.form .btn-text {
  width: 35%;
  text-align: center;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 50rem;
  background-color: #ffffff;
  box-shadow: 0 2rem 4rem rgba(41, 41, 41, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.3s;
}
.popup .popup-left {
  width: 33.33333333%;
  display: table-cell;
  vertical-align: middle;
}
.popup .popup-left .popup-img {
  display: block;
  width: 100%;
}
.popup .popup-right {
  width: 66.6666666%;
  display: table-cell;
  vertical-align: top;
  padding: 3rem 5rem;
}
.popup .popup-right .popup-heading {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  color: rgba(67, 161, 223, 0.8980392157);
  margin-bottom: 2rem;
}
.popup .popup-right .popup-text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  text-align: justify;
}
.popup .btn-text {
  text-transform: capitalize;
  width: 20%;
  text-align: center;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup .popup-close:link, .popup .popup-close:visited {
  color: #292929;
  position: absolute;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.2s;
  line-height: 1;
}
.popup .popup-close:hover {
  color: #e3394b;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 900px) {
  .row:not(:last-child) {
    margin-right: 6rem;
  }
}
.row:first-child {
  margin-top: 2rem;
}
@media (max-width: 900px) {
  .row {
    max-width: 50rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
  padding: 1rem;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 12rem;
}
@media (max-width: 900px) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 12rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 12rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 12rem) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 12rem) / 4) + 12rem
    );
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 12rem) / 3) + 12rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 12rem) / 4) + 2 * 12rem
    );
}

.navigation .navigation_checkbox {
  display: none;
}
.navigation .navigation-button {
  background-color: #ffffff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 2rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(41, 41, 41, 0.5);
  text-align: center;
}
@media (max-width: 900px) {
  .navigation .navigation-button {
    top: 4rem;
    right: 4rem;
  }
}
.navigation .navigation-background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 6.5rem;
  background-color: #8bc6ec;
  background-image: radial-gradient(#8bc6ec 0%, #4e56e4 80%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);
}
@media (max-width: 900px) {
  .navigation .navigation-background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
.navigation .navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation .navigation-list {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  list-style: none;
  text-align: left;
}
.navigation .navigation-link:link, .navigation .navigation-link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: 100%;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 230%;
  transition: all 0.4s;
  font-weight: 400;
}
.navigation .navigation-link:hover, .navigation .navigation-link:active {
  background-position: 100%;
  color: #292929;
  border-radius: 3px;
  transform: translateX(1rem);
}
.navigation .navigation_checkbox:checked ~ .navigation-background {
  transform: scale(80);
}
.navigation .navigation_checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}
.navigation .nav-icon {
  margin-top: 1.5rem;
  font-size: 3rem;
  cursor: pointer;
}
.navigation .navigation-button .close-icon {
  display: none;
}
.navigation .navigation_checkbox:checked ~ .navigation-button .nav-icon {
  display: none;
}
.navigation .navigation_checkbox:checked ~ .navigation-button .close-icon {
  display: block;
  cursor: pointer;
  margin-top: 1.8rem;
}

/* =============animation============== */
@-webkit-keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .about-div {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 7rem;
  padding: 1rem;
}
@media (max-width: 900px) {
  main .about-div {
    text-align: center;
    margin: 0 auto;
    padding-left: 5.4rem;
  }
}
main .about-div .about-heading {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  color: rgba(67, 161, 223, 0.8980392157);
  margin: 0 auto;
}
@media (max-width: 900px) {
  main .about-div .about-heading {
    font-size: 2.5rem;
  }
}

.about-sub-heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: rgba(67, 161, 223, 0.8980392157);
  letter-spacing: 1px;
}

.btn-text {
  margin-bottom: 3rem;
}

.paragraph {
  font-size: 1.3rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.package-div {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
}
.package-div .package-header {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  color: rgba(29, 53, 87, 0.8);
  margin: 0 auto;
}

.review-div {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
}
.review-div .review-header {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  color: rgba(29, 53, 87, 0.9);
  margin: 0 auto;
}

.book-div {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
}
.book-div .book-header {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  color: rgba(29, 53, 87, 0.9);
  margin: 0 auto;
}

/*================Header=================  */
.header {
  height: 65vh;
  background-image: linear-gradient(to right bottom, rgba(235, 240, 234, 0.425), rgba(50, 128, 89, 0.459)), url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
@media (max-width: 900px) {
  .header {
    height: 50vh;
  }
}
.header .logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header .logo-box .logo {
  height: 3.5rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #ffffff;
  letter-spacing: 0.3rem;
}
.header .adventure-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  /* =============animation============== */
}
.header .adventure-text .adventure-text-main {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 2rem;
  text-transform: uppercase;
  -webkit-animation: moveLeft 2s ease-out;
          animation: moveLeft 2s ease-out;
}
.header .adventure-text .adventure-text-sub {
  display: block;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 2.1rem;
  text-transform: uppercase;
  -webkit-animation: moveRight 2s ease-out;
          animation: moveRight 2s ease-out;
}

/*================Header=================  */
/* =================About Section=============== */
.section-about {
  background-color: #f7f7f7;
  height: 100vh;
}

.features-section {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(235, 240, 234, 0.425), rgba(50, 128, 89, 0.459)), url(/img/nat-4.jpg);
  background-size: cover;
}

.tour-package-section {
  padding: 5rem 0 38rem 0;
  background-color: #f7f7f7;
}

.review-section {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 10rem 0;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #4e56e4 100%);
}
.section-book .book {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 0.5rem 4rem rgba(41, 41, 41, 0.5);
  height: 50rem;
}
.section-book .book .book-form {
  width: 50%;
  padding: 6rem;
}

/* =================End of About Section=============== */
/* ==============Footer=============== */
.footer {
  background-color: #292929;
  color: #ffffff;
}
@media (max-width: 900px) {
  .footer {
    width: 100%;
  }
}
.footer .footer-wrapper {
  padding: 5rem 10rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .footer .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.footer .footer-wrapper .col-1 {
  padding: 1rem;
}
.footer .footer-wrapper .col-1 .logo-box {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.footer .footer-wrapper .col-1 .social {
  font-size: 2.5rem;
}
.footer .footer-wrapper .col-1 .social .facebook :hover {
  color: #4267b2;
}
.footer .footer-wrapper .col-1 .social .twitter :hover {
  color: #00acee;
}
.footer .footer-wrapper .col-1 .social .linkedin :hover {
  color: #0072b1;
}
.footer .footer-wrapper .col-1 .social .pinterest :hover {
  color: #e60023;
}
.footer .footer-wrapper .col-1 .social span:not(:last-child) {
  margin-right: 2rem;
}
.footer .footer-wrapper .col-1 .social a {
  color: #ffffff;
}
.footer .footer-wrapper .col-1 .footer-address {
  margin-top: 1rem;
}
.footer .footer-wrapper .col-1 .footer-address .footer-list {
  list-style: none;
}
.footer .footer-wrapper .col-1 .footer-address .footer-item a {
  color: #ffffff;
  font-size: 1.6rem;
}
.footer .footer-wrapper .col-2 {
  padding: 1rem;
}
.footer .footer-wrapper .col-2 .footer-nav {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrapper .col-2 .footer-nav .footer-list span {
  font-size: 3.5rem;
}
.footer .footer-wrapper .col-2 .footer-nav .footer-item {
  list-style: none;
  font-size: 1.6rem;
  color: #ffffff;
}
.footer .footer-wrapper .col-2 .footer-nav .footer-item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer .footer-wrapper .col-2 .footer-nav .footer-nav-link {
  color: #ffffff;
}
.footer .footer-wrapper .col-2 .footer-nav .footer-nav-link:link, .footer .footer-wrapper .col-2 .footer-nav .footer-nav-link:visited {
  color: #eee;
  text-decoration: none;
}
.footer .footer-wrapper .col-2 .footer-nav .footer-nav-link:hover, .footer .footer-wrapper .col-2 .footer-nav .footer-nav-link:active {
  color: #4e56e4;
  transform: translateX(5px);
}
.footer .footer-wrapper .col-3 {
  padding: 1rem;
}
.footer .footer-wrapper .col-3 .footer-support .footer-support-list {
  list-style: none;
}
.footer .footer-wrapper .col-3 .footer-support .footer-support-list span {
  font-size: 3.5rem;
}
.footer .footer-wrapper .col-3 .footer-support .footer-support-item {
  margin-bottom: 1rem;
}
.footer .footer-wrapper .col-3 .footer-support .footer-support-item a {
  color: #ffffff;
  font-size: 1.6rem;
}
.footer .footer-wrapper .col-3 .footer-support .footer-support-item a:hover, .footer .footer-wrapper .col-3 .footer-support .footer-support-item a:active {
  color: #4e56e4;
  transform: translateX(5px);
}
.footer .footer-wrapper .col-3 .footer-support .subscribe {
  display: flex;
}
.footer .footer-wrapper .col-3 .footer-support .subscribe .emailField input {
  padding: 1rem;
  border-radius: 5px;
}
.footer .footer-wrapper .col-3 .footer-support .subscribe .subBtn {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #4e56e4 80%);
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -2rem;
}
.footer .footer-wrapper .col-3 .footer-support .subscribe .subBtn i {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  padding: 0 1rem;
}
.footer .copy-right-box {
  background: rgba(15, 15, 15, 0.829);
  height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copy-right-box .copy-right {
  font-size: 1.4rem;
}

/* ==============Footer=============== *//*# sourceMappingURL=home.css.map */