// Abstracts
@import "abstracts/function";
@import "abstracts/mixins";
@import "abstracts/variables";

// components
@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/booking";
@import "components/popup";


// layouts
@import "layout/grid";
@import "layout/navigation";

// pages

// partials
@import "partials/animations";
@import "partials/base";
@import "partials/reset";
@import "partials/utilities";
@import "partials/typography";

/*================Header=================  */

.header {
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 240, 234, 0.425),
      rgba(50, 128, 89, 0.459)
    ),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    .logo {
      height: 3.5rem;
      font-size: 2.5rem;
      font-weight: bolder;
      color: $white;
      letter-spacing: 0.3rem;
    }
  }

  .adventure-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    backface-visibility: hidden;
    text-align: center;

    .adventure-text-main {
      display: block;
      font-size: 6rem;
      font-weight: 600;
      letter-spacing: 2rem;
      text-transform: uppercase;
      animation: moveLeft 2s ease-out;
    }

    .adventure-text-sub {
      display: block;
      font-size: 1.7rem;
      font-weight: 400;
      letter-spacing: 2.1rem;
      text-transform: uppercase;
      animation: moveRight 2s ease-out;
    }

    /* =============animation============== */
  }
}
/*================Header=================  */

/* =================About Section=============== */

.section-about {
  background-color: $color-about;
  padding: 5rem 0;
}

.features-section {
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 240, 234, 0.425),
      rgba(50, 128, 89, 0.459)
    ),
    url(/img/nat-4.jpg);
  background-size: cover;
}

.tour-package-section {
  padding: 5rem 0 38rem 0;
  background-color: $color-about;
}
.review-section {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 10rem 0;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #4e56e4 100%);

  .book {
    background-image: linear-gradient(
        90deg,
        rgba($white, 0.9) 0%,
        rgba($white, 0.9) 50%,
        transparent 50%
      ),
      url(/img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 0.5rem 4rem rgba($dark, 0.5);
    height: 50rem;

    .book-form {
      width: 50%;
      padding: 6rem;
    }
  }
}

/* =================End of About Section=============== */

/* ==============Footer=============== */
.footer {
  background-color: $dark;
  color: $white;

  .logo {
    height: 5.5rem;
    
    font-size: 3.5rem;
    font-weight: bolder;
    color: $white;
    letter-spacing: 0.3rem;
    text-align: left;
    padding: 2rem 0 0 1rem;
    display: block;
    margin: 0 38rem 3rem 38rem;
  }
  .footer-nav {
    

    .footer-list {
      list-style: none;
      
    }

    .footer-item {
      display: inline-block;
      font-size: $font-size-medium;
      color: $white;

      &:not(:last-child){
        margin-right: 1rem;
      }
     

    }
    .footer-nav-link{
      color: $white;

      &:link,
      &:visited{
        color: #eee;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
      }
      &:hover,
      &:active{
          color: #4e56e4;
          padding: .5rem;
          box-shadow: 0 1rem 2rem rgba(rgb(0, 0, 0), .7);
          
      }
    }

   

  }
  .footer-address{
    .footer-list {
      list-style: none;
      
    }

    .footer-item {
      
      font-size: $font-size-medium;    

    }
    .footer-nav-link{
      color: #eee;
      
      &.email{
        text-transform: lowercase;
      }
    }

  }

  .copy-right-box {
    text-align: center;
    border-top: 1px solid rgba(146, 145, 145, 0.39);
    font-size: 1.2rem;
  }
}

/* ==============Footer=============== */
