/* ==============Footer=============== */
.footer {
    background-color: $dark;
    color: $white;
  
    @include respond(tab-port) {
     
  
      width: 100%;
    }
    .footer-wrapper {
      padding: 5rem 10rem;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
  
      justify-content: space-around;
  
      @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 2rem 1rem;
      }
  
      .col-1 {
       
        padding: 1rem;
  
        .logo-box {
          font-size: 3.5rem;
          margin-bottom: 2rem;
        }
        .social {
          font-size: 2.5rem;
          .facebook {
            :hover {
              color: #4267b2;
            }
          }
          .twitter {
            :hover {
              color: #00acee;
            }
          }
          .linkedin {
            :hover {
              color: #0072b1;
            }
          }
          .pinterest {
            :hover {
              color: #e60023;
            }
          }
  
          span:not(:last-child) {
            margin-right: 2rem;
          }
          a {
            color: $white;
          }
        }
  
        .footer-address {
          margin-top: 1rem;
          .footer-list {
            list-style: none;
          }
          .footer-item a {
            color: $white;
            font-size: 1.4rem;
          }
        }
      }
  
      .col-2 {
        
        padding: 1rem;
  
        .footer-nav {
          display: flex;
          flex-direction: column;
  
          .footer-list {
            span {
              font-size: 2.5rem;
            }
          }
          .footer-item {
            list-style: none;
            font-size: 1.4rem;
            color: $white;
  
            &:not(:last-child) {
              margin-bottom: 1rem;
            }
          }
          .footer-nav-link {
            color: $white;
  
            &:link,
            &:visited {
              color: #eee;
              text-decoration: none;
            }
            &:hover,
            &:active {
              color: #4e56e4;
              transform: translateX(5px);
            }
          }
        }
      }
  
      .col-3 {
        
        padding: 1rem;
  
        .footer-support {
          .footer-support-list {
            list-style: none;
            span {
              font-size: 2.5rem;
            }
          }
          .footer-support-item {
            margin-bottom: 1rem;
            a {
              color: $white;
              font-size: 1.4rem;
  
              &:hover,
              &:active {
                color: #4e56e4;
                transform: translateX(5px);
              }
            }
          }
  
          .subscribe {
            display: flex;
            .emailField {
              input {
                padding: 1rem;
                border-radius: 5px;
              }
            }
            .subBtn {
              background-color: #8bc6ec;
              background-image: linear-gradient(135deg, #8bc6ec 0%, #4e56e4 80%);
              cursor: pointer;
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
              margin-left: -2rem;
  
              i {
                color: $white;
                font-size: 2.5rem;
                margin-top: 0.5rem;
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }
    .copy-right-box {
      background: rgba(15, 15, 15, 0.829);
      height: 5rem;
      text-align: center;
  
      // border-top: 1px solid rgba(146, 145, 145, 0.39);
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      .copy-right {
        font-size: 1.4rem;
      }
    }
  }
  
  /* ==============Footer=============== */
  