@import url("https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Playfair+Display:ital,wght@0,800;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");

.about-div {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: 7rem;
  padding: 1rem;
  
  @include respond(phone) {
    
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
   
   
    

  }

  .about-heading {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    color: $color-sub-heading;
    margin: 0 auto;

    @include respond(phone) {
     
      font-size: 2rem;
      display: inline-block;
      padding: 0;
     
      

    }
  }
 
}

.about-sub-heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: $color-sub-heading;
  letter-spacing: 1px;
}
.btn-text{
  margin-bottom: 3rem;
}
.paragraph {
  font-size: 1.3rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}


.feature-heading {
}

.package-div {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;

  .package-header {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    color: rgba($darkBlue, .8);
    margin: 0 auto;
  }
}
.review-div {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;

  .review-header {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    color: rgba($darkBlue, .9);
    margin: 0 auto;
    
    @include respond(phone){
     display: flex;
     justify-content: center;
      
     }
  }
}
.book-div {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;

  .book-header {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    color: rgba($darkBlue, .9);
    margin: 0 auto;
  }

  
}
